.model {
  background-color: red;
  min-height: 20rem;
  min-width: 10rem;
}

.ar-button:active {
  background-color: #e8eaed;
}

.ar-button:focus {
  outline: none;
}

.ar-button:focus-visible {
  outline: 1px solid #4285f4;
}
