model-viewer {
  background-color: white;
  min-width: 200px;
  min-height: 200px;
  width: auto;
  height: auto;
  border-radius: 10px;
  border: 1px solid rgb(229 231 235);
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
}

.ar-button {
  /* background-image: url('../ar-icon.png'); */
  /* position: absolute;
  right: 50px;
  bottom: 15px; */
  width: 5rem;
  height: 5rem;
  background-color: red;
}

/* @media (min-width: 768px) {
  model-viewer {
  }
} */

/* @media (min-width: 1280px) {
  model-viewer {
    min-width: 386px;
    min-height: 386px;
    width: 386.66px;
    height: 386.66px;
  }
} */
