model-viewer {
  background-color: white;
  min-width: 280px;
  min-height: 200px;
  width: auto;
  height: auto;
  border-radius: 10px;
  border: 1px solid rgb(229 231 235);
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
}

.ar-button {
  background-image: url('../ar-icon.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 20px;
  bottom: 15px;
  width: 4rem;
  height: 4rem;
  border-radius: 15px;
  background-color: lightsteelblue;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.61);
}

/* @media (min-width: 768px) {
  model-viewer {
  }
} */

/* @media (min-width: 1280px) {
  model-viewer {
    min-width: 386px;
    min-height: 386px;
    width: 386.66px;
    height: 386.66px;
  }
} */
